:root {
    --main-color: #1ca3d3;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.text-custom {
    color: var(--main-color) !important;
}

.navbar-brand {
    color: var(--main-color) !important;
    text-transform: lowercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.25rem;
}

nav ul.cm-navbar {
    gap: 5px;
    align-items: anchor-center;
}

nav ul.cm-navbar a.btn-custom {
    background: var(--main-color);
    border-color: var(--main-color);
    color: #FFF;
    padding: .275rem .5rem;
}

/* HOME PAGE */
div.index-photo-list h2 {
    margin: 30px 0;
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--main-color);
}

div.index-list hr {
    margin: 50px 0;
}

div.custom-j-title {
    margin: 75px 0;
}

div.custom-j-title h1 {
    font-size: 5rem;
    letter-spacing: 3px;
    color: var(--main-color);
    text-transform: uppercase;
}

div.custom-j-title p {
    color: gray;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

div.photos-container div.photos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
/* HOME PAGE */

div.page-content {
    margin: 30px 0;
}

div.page-content h1.page-title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 3rem;
}

div.page-content p {
    margin: 0 !important;
}

/* FORMS */
div.photo-input div.description textarea {
    height: 100px;
}

div.photo-input div.categories-list select {
    height: calc(3.5rem + 10px) !important;
}

div.form-input div.form-buttons {
    text-align: center;
    margin: 30px 0;
}

div.form-input div.form-buttons button {
    padding: 10px 20px;
    width: 100%;
    max-width: 150px;
    border-radius: 4px;
    text-align: center;
    font-size: 0.925rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

div.form-input div.form-buttons button[type="submit"] {
    background: #1ca3d3;
    border: none;
    color: #FFF;
}

div.form-input div.form-buttons button[type="button"] {
    background: white;
    border: 1px solid #1ca3d3;
    color: #1ca3d3;
}

div.image-upload-prev {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

div.image-upload-prev div.image-upload {
    width: 65%;
}

div.image-upload-prev div.image-preview {
    width: 35%;
}

div.image-upload-prev div.image-preview div.preview-img {
    text-align: center;
    width: 100%;
    height: 150px;
    position: relative;
    /* background-image: none; */
    background-position: center;
    background-size: cover;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.image-upload-prev div.image-preview span.no-image-selected {
    width: 100%;
    z-index: -5;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: lightgray;
}

div.page-content div.form-input div.form-field-plain div.form-label {
    opacity: 0.65 !important;
    font-size: 0.875rem !important;
}

/* Photo Listing */
div.photos-container div.photos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

    div.photos-container div.photos-list div.photo-card {
        width: 30%;
        box-sizing: content-box;
        display: inline-block;
        max-width: 50%;
        border: 1px dashed black;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 6px;
    }

        div.photos-container div.photos-list div.photo-card .photo-src {
            max-width: 100%;
            width: 100%;
        }

            div.photos-container div.photos-list div.photo-card .photo-src img {
                width: 100%;
                height: 250px;
                max-height: 100%;
                object-fit: cover;
            }


        div.photos-container div.photos-list div.photo-card .photo-title {
            margin: 10px;
            text-align: center;
            font-weight: 700;
            font-size: 1.25em;
            text-transform: uppercase;
        }

        div.photos-container div.photos-list div.photo-card div.photo-categories {
            padding: 5px;
            background: var(--main-color);
            margin: 5px 0;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 700;
            line-height: 20px;
        }
/* Photo Listing */


/* List My Photos */
.my-photo-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.photo-v-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px dashed lightgray;
    padding: 15px;
}

.photo-v-card .photo-res {
    width: 50%;
}

.photo-v-card .photo-res img {
    height: auto;
    width: 100%;
    max-height: 250px;
}

.photo-v-card .photo-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.photo-v-card .photo-info h3 {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.5rem;
}

.photo-v-card .actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

div.my-photo-list h2 {
    color: lightgrey;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}
/* List My Photos */


/* PHOTO DETAILS */
div.photo-details-container {
    height: 100%;
    margin: 20px 0;
}

div.photo-details-container h1 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 3rem;
}

div.photo-details-container div.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

div.photo-details-container div.image img {
    width: 100%;
}

div.photo-details-container div.categories-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
    gap: 5px;
}

div.photo-details-container a.ca {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
}

div.photo-details-container div.image-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

div.d-label {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: gray;
    font-weight: 600;
    letter-spacing: 1px;
}

div.photo-details-container div.photo-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div.photo-details-container div.photo-data div.categories-list span.sc {
    background: var(--main-color);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

div.photo-details-container div.actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

/* PHOTO DETAILS */


/* Error Pages */

.error-container {
    height: 80vh;
}

.error-code {
    font-size: 8rem;
    font-weight: 700;
}

.error-text {
    font-size: 1.5rem;
}

a.btn-custom {
    background: var(--main-color);
    border-color: var(--main-color);
    color: #FFF;
}

/* Error Pages */


/* ADMIN DASHBOARD */
h1.dashboard {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.table-custom {
    color: var(--main-color);
    /* text-align: center; */
    --bs-table-bg: white;
}

.table-custom th {
    font-weight: 400;
    text-transform: uppercase;
}

/* ADMIN DASHBOARD */


h1.page-title {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.tag-card h5 {
    color: var(--main-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}